.logo-url {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-top: 30px;
}
.course-name {
  font-family: 'Roboto';
  font-size: 15px;
  color: #475569;
  font-weight: 600;
}
